.nav {
    grid-area: nav;
    border: 1px solid blue;
}
.link {
    padding: 0 1rem;
}
.separator {
    display: inline-block;
    content: '/';
    vertical-align: sub;
    font-size: 2rem;
    pointer-events: none;
}